<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	versionCode="1"
	version 	= "1.0.1"
	id        = "com.complex.tv">

	<name>Complex Tv </name>
	<description>
		Complex TV
	</description>

	<author href="complex.com" email="robbins.cleozier@complex.com">
		Complex TV
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.4" />
	</gap:platforms>

	<!-- General -->
	<icon src="icons/icon.png" width="72" height="72" />
	<icon src="icons/icon.png" width="48" height="48" />
	<icon src="icons/icon.png" width="36" height="36"  gap:role="default"  />

	<gap:splash src="icons/splash.png" />

	<preference name="phonegap-version" value="3.6.3" />
	<preference name="fullscreen" value="false" />
	<preference name="load-url-timeout" value="60000" />

	<feature name="http://api.phonegap.com/1.0/network"/>
</widget>