<div class="" ng-repeat="video in featured">
	<p class"videoTitle">{{video.name}} </p>

	<div class="videos">
		<a href="#/play/{{video.embed_code}}" class="">
			<span></span>
			<img class="image" src="{{video.preview_image_url}}" />
		</a>
	</div>

	<a href="#/play/{{video.embed_code}}" type="button playButton" class="btn btn-default btn-lg">

	  <span class="glyphicon glyphicon-play" aria-hidden="true"> Watch</span> 
	</a>
</div>


<!-- <div class="" ng-repeat="video in featured">
	<div class="videoContainer">
		<div class="videoImage"> 
			<img class="image" src="{{video.preview_image_url}}" /> 
		</div>
		<div class"videoInformation"> 
			<p class"videoTitle">{{video.name}} </p>
		</div>
	</div>

	<a href="#/play/{{video.embed_code}}" type="button playButton" class="btn btn-default btn-lg">
	  <span class="glyphicon glyphicon-play" aria-hidden="true"> Watch</span> 
	</a> 
</div> -->